<!DOCTYPE html>
<!--[if lt IE 9]>
    <html class="lt9">
<![endif]-->
<html lang="zh-cn">
<head>
<script type="text/javascript">
    var _speedMark = new Date();
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9,IE=9,IE=edge" />
<title>腾讯文智中文语义平台-产品体验</title>
<meta name="Copyright" content="Tencent" />
<link href="public/wenzhi/images/common/favicon.ico" type="image/ico" rel="shortcut icon" />
<meta name="Keywords" content="腾讯文智中文语义平台" />
<meta name="Description" content="腾讯文智中文语义平台" />
<script tpye="text/javascript" src="http://js.aq.qq.com/js/aq_common.js"></script>
<link rel="stylesheet" href="public/wenzhi/css/buttons.css">
<link rel="stylesheet" href="public/wenzhi/css/global.css">
<link rel="stylesheet" href="public/wenzhi/css/semantic0202.css">
<!-- <meta name="full-screen" content="yes">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes"> -->

</head>
<body>
<div class="fix_top semantic">
	<div class="header_topbar">
        <div class="header_content ui_maxw">
            <a href="index.html" class="logo" title="Text++">Text++</a>
                <div class="header_menu">
                    <ul>
                        <li class="current"><a href="#" title="首页"><img style = "float:left; margin-top:22px;s" src="public/wenzhi/images/main/home_choose.png" height="30%"/>&nbsp;&nbsp;首页</a></li>
                        <li><a href="semantic.html" title="产品演示"><img style = "float:left; margin-top:22px;s" src="public/wenzhi/images/main/product.png" height="30%"/>&nbsp;&nbsp;产品演示</a></li>
                        <li><a href="#" title="开发者文档"><img style = "float:left; margin-top:22px;s" src="public/wenzhi/images/main/document.png" height="30%"/>&nbsp;&nbsp;开发者文档</a></li>
                        <li><a href="#" title="关于"><img style = "float:left; margin-top:22px;s" src="public/wenzhi/images/main/about.png" height="30%"/>&nbsp;&nbsp;关于</a></li>
                    </ul>
                </div>
                <div class="header_sign">
                    <div class="sign_wrap">
                        <a href="login.html" class="button button-primary button-small">登录</a>
                        <a href="register.html" class="button button-action button-small">注册</a> 
                    </div>
                </div>
        </div>
        <div class="header_topbar_bg"></div>
    </div>

	
</div>
<div id="pe_wrap">
	
	<div class="section wrap_xy_2" id="section1" style="background-image: url(public/wenzhi/images/main/background_b.png)";>
		<!-- <div class="col_bg ui_maxw">
			<em class="ani_xy_1 em_xy_1 "><i class=" iconfont ani_rot_1 icon_dot size_80">&#xe607;</i></em>
			<em class="ani_xy_2 em_xy_2 "><i class=" iconfont ani_rot_1 icon_dot size_35">&#xe607;</i></em>
			<em class="ani_xy_3 em_xy_3 "><i class=" iconfont ani_rot_1 icon_dot size_20">&#xe607;</i></em>
			<em class="ani_xy_4 em_xy_4 "><i class=" iconfont ani_rot_1 icon_dot size_70">&#xe607;</i></em>
			<em class="ani_xy_1 em_xy_5 "><i class=" iconfont ani_rot_1 icon_dot size_30">&#xe607;</i></em>
			<em class="ani_xy_2 em_xy_6 "><i class=" iconfont ani_rot_1 icon_dot size_65">&#xe607;</i></em>
		</div> -->
		<div class="col_2_wrap mod_col_wrap ui_maxw clearfix">
			<h2 class="mod_col_h2">功能1:
				<a class="col_text_mean">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</a>
				<a style="float:right" href=help.html?topic=api#analysis" class="button button-small" title="开发文档">开发文档</a>
			</h2>
			<div class="mod_col_text">
				<p class="mod_col_title">输入一段想分析的文字：<a class="replaced" href="semantic.html#" title="换一段示例" id="sec1_replaced">换一段示例</a></p>
				<div class="analysis_wrap">
					<div class="analysis_content ">
						<textarea class="txt" name="" id="input_sec1" limit="110">去年南京人购买最多的文学书籍中，有一本书也特别打眼，那就是马尔克斯的《百年孤独》。</textarea>
						<i class="icon_close"  id="sec1_clear"></i>
						<!-- <p class="txt_warm">体验版最多可输入110个字</p> -->
					</div>
<!-- 					<div class="analysis_btn">
						<a class="replaced" href="#" title="换一段示例" id="sec1_replaced">换一段示例</a>
						<a class="btn" href="#" title="清 除" id="sec1_clear">清 除</a>
					</div> -->
				</div>
			</div>
			<div class="mod_col_main result_main">
				
				<p class="mod_col_title">词性</p>
				<dl class="row">
					<dd class="mod_result_content result_tabs">
						<div id="wtype_ret" class="result_tabs_wrap">
						</div>
					</dd>
				</dl>

				<p class="mod_col_title">分词</p>
				<dl class="row">
					<dd class="mod_result_content result_words mCustomScrollbar _mCS_2">
						<div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
							<div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
							</div>
						</div>
					</dd>
					
				</dl>
				
			</div>
		</div>
	</div>
	<div class="section wrap_xy_2" id="section2">
		<!-- <div class="col_bg ui_maxw">
			<em class="ani_xy_3 em_xy_1 "><i class=" iconfont ani_rot_1 icon_san size_80">&#xe60a;</i></em>
			<em class="ani_xy_2 em_xy_2 "><i class=" iconfont ani_rot_1 icon_san size_35">&#xe60a;</i></em>
			<em class="ani_xy_3 em_xy_3 "><i class=" iconfont ani_rot_1 icon_san size_40">&#xe60a;</i></em>
			<em class="ani_xy_4 em_xy_4 "><i class=" iconfont ani_rot_1 icon_san size_70">&#xe60a;</i></em>
			<em class="ani_xy_1 em_xy_5 "><i class=" iconfont ani_rot_1 icon_san size_50">&#xe60a;</i></em>
			<em class="ani_xy_2 em_xy_6 "><i class=" iconfont ani_rot_1 icon_san size_65">&#xe60a;</i></em>
		</div> -->
		<div class="col_3_wrap mod_col_wrap ui_maxw clearfix">
			<h2 class="mod_col_h2">句法类API
				<a class="col_help" href="help.html?topic=api#check" title="开发文档"><i class="icon_main icon_word"></i>开发文档</a>
			</h2>
			<div class="show_wrap">
				<div class="hd show_tabs">
					<ul>
						<li class="first on" title="句法分析" data-tab="2">句法分析</li>
						<li class="last" title="纠错／同义词" data-tab="1">纠错／同义词</li>
					</ul>
				</div>
			</div>
			<div class="col3_tab col3_tab1 ">
				<div class="mod_col_text">
					<p class="mod_col_title">输入一段想分析的文字：<a class="replaced" href="semantic.html#" title="换一段示例" id="sec2_1_replaced">换一段示例</a></p>
					<div class="analysis_wrap">
						<div id="content-1" class="analysis_content ">
							<textarea id="input_sec2_1" class="txt" name="" id="txt2" limit="230">我只想每天起来睡交吃饭。</textarea>
							<i class="icon_close" id="sec2_1_clear"></i>
							<p class="txt_warm">体验版最多可输入230个字</p>
							<!-- <div class="txt" contentEditable="true">
						环球时报记者了解到，近日来克钦独立军与缅甸政府军交战接连不断。16日早上，克钦独立军总部高层指挥官与果敢同盟军高层指挥官召开联席军事会议，此后在帕敢昂巴利村附近设伏，缅军进入埋伏圈后遇袭
					</div> -->
						</div>
						<!-- <div class="analysis_btn">
						<a class="replaced" href="#" title="换一段示例">换一段示例</a>
						<a class="btn" href="#" title="清 除">清 除</a>
					</div> -->
					</div>
				</div>
				<div class="mod_col_main result_main">
					<p class="mod_col_title">分析结果：</p>
					<dl class="row">
						<!-- <dt class="mod_result_title">纠错</dt> -->
						<dd class="mod_result_content result_sentence ">
							<p class="mod_result_content_title">纠错</p>
							<div class="text mCustomScrollbar check_text">我只想每天起来<em class="focal">睡觉</em>吃饭<em> </em></div>
							<p class="mod_result_content_title">同义词</p>
							<div class="text text2 mCustomScrollbar synonyms_text">
								<p class="synonyms_item">想 —— 需要</p><p class="synonyms_item">每天 —— 天天</p><p class="synonyms_item">起来 —— 醒来</p><p class="synonyms_item">睡 —— 睡觉</p>
							</div>
						</dd>
					</dl>
				</div>
			</div>
			<div class="col3_tab col3_tab2 show">
				<div class="mod_col_text">
					<p class="mod_col_title">输入一段想分析的文字：<a class="replaced" href="semantic.html#" title="换一段示例" id="sec2_2_replaced">换一段示例</a></p>
					<div class="analysis_wrap">
						<div id="content-1" class="analysis_content ">
							<textarea id="input_sec2_2" class="txt" name="" id="txt3" limit="20">这是一个很长很长的句子</textarea>
							<i class="icon_close" id="sec2_2_clear"></i>
							<p class="txt_warm">体验版最多可输入20个字</p>
							<!-- <div class="txt" contentEditable="true">
						环球时报记者了解到，近日来克钦独立军与缅甸政府军交战接连不断。16日早上，克钦独立军总部高层指挥官与果敢同盟军高层指挥官召开联席军事会议，此后在帕敢昂巴利村附近设伏，缅军进入埋伏圈后遇袭
					</div> -->
						</div>
						<!-- <div class="analysis_btn">
						<a class="replaced" href="#" title="换一段示例">换一段示例</a>
						<a class="btn" href="#" title="清 除">清 除</a>
					</div> -->
					</div>
				</div>
				<div class="mod_col_main result_main">
					<p class="mod_col_title">分析结果：</p>
					<dl class="row">
						<!-- <dt class="mod_result_title">纠错</dt> -->
						<dd class="mod_result_content result_sentence dependency_chart">
						<a href="semantic.html##" class="show_all">显示全部</a>
						</dd>
						<dd class="mod_result_content result_tabs dependency_text">
							<div class="result_tabs_wrap result_tabs_wrap_first">
							</div>
						</dd>
					</dl>
				</div>
			</div>
			<!-- <div class="mod_col_text">
				<p class="mod_col_title">输入一段想分析的文字：</p>
				<div class="analysis_wrap">
					<div id="content-1"  class="analysis_content ">
						<textarea class="txt" name="" id="input_stage">北大piao亮mm</textarea>
					</div>
					<div class="analysis_btn">
						<a class="replaced" href="#" title="换一段示例" id="sec2_replaced">换一段示例</a>
						<a class="btn" href="#" title="清 除" id="sec2_clear">清 除</a>
					</div>
				</div>
			</div>
			<div class="mod_col_main result_main">
				<p class="mod_col_title">分析结果：</p>
				<dl class="row">
					<dt class="mod_result_title">纠错</dt>
					<dd class="mod_result_content result_sentence ">
						<div class="text mCustomScrollbar" id="check_ret">北大<em class="focal">漂亮</em>MM</div>
					</dd>
				</dl>
				<dl class="row">
					<dt class="mod_result_title">同义词</dt>
					<dd class="mod_result_content result_sort" id="syn_ret">
						<p class="result_sort_item" >
							<b class="t"><span class="w">北大</span><i class="l"></i></b><span class="w">北京大学</span>
						</p>
					</dd>
				</dl>
			</div> -->
		</div>
	</div>
	<div class="section wrap_xy_2" id="section3">
		<!-- <div class="col_bg ui_maxw">
			<em class="ani_xy_3 em_xy_5 "><i class="iconfont ani_rot_1 icon_six size_40">&#xe609;</i></em>
			<em class="ani_xy_2 em_xy_2 "><i class="iconfont ani_rot_1 icon_six size_35">&#xe609;</i></em>
			<em class="ani_xy_3 em_xy_1 "><i class="iconfont ani_rot_1 icon_six size_85">&#xe609;</i></em>
			<em class="ani_xy_4 em_xy_4 "><i class="iconfont ani_rot_1 icon_six size_70">&#xe609;</i></em>
			<em class="ani_xy_1 em_xy_3 "><i class="iconfont ani_rot_1 icon_six size_20">&#xe609;</i></em>
			<em class="ani_xy_2 em_xy_6 "><i class="iconfont ani_rot_1 icon_six size_50">&#xe609;</i></em>
		</div> -->
		<div class="col_4_wrap mod_col_wrap ui_maxw clearfix">
			<h2 class="mod_col_h2">篇章类API
				<a class="col_help" href="help.html?topic=api#sentiment" title="开发文档"><i class="icon_main icon_word"></i>开发文档</a>
			</h2>
			<div class="show_wrap">
				<div class="hd show_tabs">
					<ul>
						<li class="first on" title="单文本演示">单文本演示</li>
						<li class="last" title="多文本演示">多文本演示(即将开放)</li>
					</ul>
				</div>
				<div class="bd">
					<div class="show_content1">
						<div class="mod_col_text">
							<p class="mod_col_title">输入一段想分析的文字：<a class="replaced" href="semantic.html#" title="换一段示例" id="sec3_replaced">换一段示例</a></p>
							<div class="analysis_wrap">
								<div id="content-1" class="analysis_content ">
									<textarea class="txt" name="" id="input_sec3">新年伊始，不少食品登上抽检“黑榜”。昨日本报从国家食品药品监督管理总局官网获悉，其公布的2015年第二期食品安全监督抽检信息显示，共抽检肉及肉制品样品2473批次，合格率为95%，55批次产品不合格；在被检测的食用油、油脂及制品中,21批次品牌产品被检出不合格，一线食用油品牌基本检查过关。</textarea>
									<i class="icon_close"  id="sec3_clear"></i>
								</div>
<!-- 								<div class="analysis_btn">
									<a class="replaced" href="#" title="换一段示例" id="sec3_replaced">换一段示例</a>
									<a class="btn" href="#" title="清 除" id="sec3_clear">清 除</a>
								</div> -->
							</div>
						</div>
						<div class="mod_col_main show_main">
							<div class="show_single_wrap clearfix">
								<dl class="show_single_item">
									<dt>分类分析结果</dt>
									<dd id="classes_ret" style="width:100%; height:100%;margin-top: -83px;">
										<!--img src="../data/data_1.png" alt=""-->
									</dd>
								</dl>
								<dl class="show_single_item">
									<dt>情感分析结果</dt>
									<dd>
										<div class="single_face_plan">
											<span class="plan_l" style="width:20%">
												<b class="line_l"><em class="txt_l">负面 20%</em></b>
											</span>
											<span class="plan_r" style="width:80%">
												<b class="line_r"><em class="txt_r">正面 80%</em></b>
											</span>
											<i class="icon_face_l"></i>
											<i class="icon_face_r"></i>
										</div>
									</dd>
								</dl>
								<dl class="show_single_item">
									<dt>关键字分析结果</dt>
									<dd>
										<div class="keyword_analysis" style="margin-left:64px">
											<!-- <div class="round round1" style="transform: scale(0.5);">
											美术指导
											<span class="percent percent1">50%</span>
											</div>
											<div class="round round2" style="transform: scale(0.3);">张叔平</div>
											<div class="round round3" style="transform: scale(0.2);">画面</div> -->
											<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="308" height="191" style="padding:20px;">
												<g id="BigCircle" class="circle">
													<circle cx="50" cy="50" r="50" fill="#f9c332" style="transition: .4s cubic-bezier(.3,0,0,1.0); transform-origin: center;"></circle>
													<text x="20" y="50" zindex="1" style="fill: #fff;font-size: 15px;">
														<tspan>关键词1</tspan>
													</text>
													<path fill="none" d="M 0 0 L 10 20 L 20 20" stroke="#9ebfd8" stroke-width="1" visibility="visible"></path>
													<text x="-20px" y="0" zindex="1" style="fill:#9ebfd8;">
														<tspan>50%</tspan>
													</text>
												</g>
												<g id="MidCircle" class="circle">
													<circle cx="120" cy="50" r="30" fill="#1ae15c" style="transition: .4s cubic-bezier(.3,0,0,1.0); transform-origin: center;"></circle>
													<text x="102" y="54" zindex="1" style="fill: #fff;font-size: 12px;">
														<tspan>关键词2</tspan>
													</text>
													<path fill="none" d="M 140 50 L 150 40 L 180 40" stroke="#9ebfd8" stroke-width="1" visibility="visible"></path>
													<text x="180" y="44" zindex="1" style="fill:#9ebfd8;">
														<tspan>30%</tspan>
													</text>
												</g>
												<g id="LitCircle" class="circle">
													<circle cx="50" cy="100" r="20" fill="#287de7" style="transition: .4s cubic-bezier(.3,0,0,1.0); transform-origin: center;"></circle>
													<text x="38" y="104" zindex="1" style="fill: #fff;font-size: 10px;">
														<tspan>关键词3</tspan>
													</text>
													<path fill="none" d="M 38 100 L 28 110 L 18 110" stroke="#9ebfd8" stroke-width="1" visibility="visible"></path>
													<text x="-12" y="114" zindex="1" style="fill:#9ebfd8;">
														<tspan>20%</tspan>
													</text>
												</g>
											</svg>
										</div>
										<div class="keyword_analysis_noresult">
                                        </div>
									</dd>
								</dl>
							</div>

						</div>
					</div>
					<div class="show_content2" style=" display:none;">
						<div class="show_many_wrap">
							<div class="show_many_btn">
								<a class="next"></a>
								<ul style="display:none;"></ul>
								<a class="prev"></a>
								<span style="display:none;" class="pageState"></span>
							</div>
							<div class="show_many_content">
								<div class="show_many_text content_1">
									<h3 class="mod_col_title">多文本分析内容示例</h3>
									<ul class="text_sample">
										<li>【昆明半程马拉松赛酷暑开跑 10人晕倒1人抢救无效死亡[蜡烛]】25日，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现</li>
										<li>【昆明半程马拉松赛酷暑开跑 10人晕倒1人抢救无效死亡[蜡烛]】25日，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现</li>
										<li>【昆明半程马拉松赛酷暑开跑 10人晕倒1人抢救无效死亡[蜡烛]】25日，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现</li>
										<li>【昆明半程马拉松赛酷暑开跑 10人晕倒1人抢救无效死亡[蜡烛]】25日，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现</li>
										<li>【昆明半程马拉松赛酷暑开跑 10人晕倒1人抢救无效死亡[蜡烛]】25日，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现</li>
										<li>【昆明半程马拉松赛酷暑开跑 10人晕倒1人抢救无效死亡[蜡烛]】25日，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现</li>
										<li>【昆明半程马拉松赛酷暑开跑 10人晕倒1人抢救无效死亡[蜡烛]】25日，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现，2014年昆明高原国际半程马拉松赛举行，比赛过程中，10名参赛人员身体出现</li>
									</ul>
								</div>
								<div class="show_many_cate content_2">
									<h3 class="mod_col_title"></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>
<script type="text/javascript" src="public/wenzhi/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="public/wenzhi/js/respond.min.js"></script>
<script type="text/javascript" src="public/wenzhi/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="public/wenzhi/js/jquery.fullPage.min.js"></script>
<!-- <script type="text/javascript" src="/public/wenzhi/js/jquery.SuperSlide.2.1.1.js"></script> -->
<script type="text/javascript" src="public/wenzhi/js/jquery.limitTextarea.js"></script>
<script type="text/javascript" src="public/wenzhi/js/d3.min.js"></script>
<script type="text/javascript" src="public/wenzhi/js/lex.js"></script>
<script type="text/javascript" src="public/wenzhi/js/semantic0202.js"></script>
<script src="public/wenzhi/js/jquery.mCustomScrollbar.concat.min.js"></script>

<script src="public/Highcharts-3.0.1/js/highcharts.js" type="text/javascript"></script>
<script src="public/Highcharts-3.0.1/js/modules/data.js" type="text/javascript"></script>
<script src="public/Highcharts-3.0.1/js/modules/exporting.js" type="text/javascript"></script>
<script src="public/wenzhi/plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="public/wenzhi/plugin/bootstrap/assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="public/wenzhi/plugin/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>


<script type="text/javascript" src="http://imgcache.qq.com/ptlogin/ac/v9/js/ptloginout.js"></script>
<script type="text/javascript" src="public/wenzhi/js/user_login.js"></script>
<script type="text/javascript">
	$(function(){
		(function(){
			var select_page = '';
			var url_path = window.location.pathname;
			var url_part = url_path.split("/");
			var cgi = url_part[url_part.length - 1];

			if (select_page != ""){
				cgi = select_page;
			}
			if (cgi.indexOf('cgi') == -1){
				$('ul.index_nav').find('li').first().addClass('active');
				return ;
			}
			$('ul li a[href="' + cgi + '"]').parent().addClass('active');
		})();
	});

	$(function(){
		$('.ico_foot_qq').click(function(){
			$('div.foot_link').find('iframe').remove();
			$('div.foot_link').append("<iframe src='http://shang.qq.com/wpa/qunwpa?idkey=ed1858f3162ab0b688836aae5207cb38acdd36f2a12206dad0bda0e4e146bf5a' height='1px' width='1px'></iframe>");
		});

		var temp = "";
		if (temp.length>10) {
			ret = temp.substr(0,7) + "...<i class=\"bor\"></i><div class=\"tooltip\"><i class=\"ico_ny ico_up_arrow\"></i><span id=\"#\" onclick=\"logOut();\">退出</span></div>";
			$('#uin_nick_name').html(ret);
		}
	})
</script>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=43910093" charset="UTF-8"></script>
</body>
</html>
