<!DOCTYPE html>
<html lang="zh-cn">
<head>
<script type="text/javascript">
    var _speedMark = new Date();
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9,IE=9,IE=edge" />
<title>Text++ - 管理</title>
<meta name="Copyright" content="TextPlusPlus" />
<link rel="stylesheet" href="css/buttons.css">
<link rel="stylesheet" href="css/global.css">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="js/jquery.limitTextarea.js"></script>
<script type="text/javascript" src="js/lex.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="css/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
<script src="js/highcharts/highcharts.js"></script>
<script src="js/highcharts/modules/exporting.js"></script>
<script src="js/highcharts/modules/data.js"></script>
<link rel="stylesheet" href="css/semantic0202.css">
<script type="text/javascript" src="js/semantic0202.js"></script>
<script type="text/javascript" src="js/console.js"></script>
</head>

<body>
<div class="fix_top semantic">
	<div class="header_topbar2">
        <div class="header_content ui_maxw">
            <a href="index" class="logo" title="Text++">Text++</a>
                <div class="header_menu">
                    <ul>
                        <li><a href="index" title="首页"><img style = "float:left; margin-top:22px;s" src="images/main/home.png" height="30%"/>&nbsp;&nbsp;首页</a></li>
                        <li><a href="semantic" title="产品演示"><img style = "float:left; margin-top:22px;s" src="images/main/product.png" height="30%"/>&nbsp;&nbsp;产品演示</a></li>
                        <li><a href="app_apply" title="开发者文档"><img style = "float:left; margin-top:22px;s" src="images/main/document.png" height="30%"/>&nbsp;&nbsp;开发者文档</a></li>
                        <li><a href="#" title="关于"><img style = "float:left; margin-top:22px;s" src="images/main/about.png" height="30%"/>&nbsp;&nbsp;关于</a></li>
                    </ul>
                </div>
                <div class="header_sign">
                    <div class="sign_wrap">
                        <a href="login" id="quit" class="button button-primary button-small">退出</a> 
                    </div>
                </div>
        </div>
        <div class="header_topbar_bg2"></div>
    </div>
</div>
<div id="pe_wrap">
	
	<div class="section" style="background-image: url(images/main/background_d.png)";>
		
		
			<div class="console_left">
				<div class="container-fluid">

					<div class="row-fluid">
						<div class="span12">
							<ul>
								<br>
								<li class="header_list">
									<img src="images/main/user_icon.png" style="height: 20px; margin-top: -2px;" /><a href="#page1">&nbsp;&nbsp;用户信息</a>
								</li>

								<br>
								<li class="header_list">
									<img src="images/main/user_icon.png" style="height: 20px; margin-top: -2px;" />&nbsp;&nbsp;功能使用
								</li>
								<li class="list_content">

									<a href="#page1">分词</a>
								</li>
								<li class="list_content">
									<a href="#page2">词性标注</a>
								</li>
								
								<li class="list_content">
									<a href="#">帮助</a>
								</li>

							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="console_right">
				<div class="console_right_top">
					<div style="position: relative; margin-left: 100px; padding-top: 30px; font-size: 20px; color: black;"><img src="images/main/user_icon.png" style="height: 25px; margin-top: -9px;" />&nbsp;&nbsp;用户中心</div>
					<div class="my_divider"></div>
					<div class="console_right_top_left">
						<ul id="userinfo" style="margin-left:25%; font-size:14px; line-height: 40px;">
							<!-- <li>用户名:</li>
							<li>邮箱:</li>
							<li>注册时间:</li>
							<li>Token:</li> -->
						</ul>
					</div>
					<div class="console_right_top_right">
					</div>
				</div>

				<div class="console_right_bottom">
					<div class="my_divider"></div>
					<div style="position:relative; font-size:16px; line-height: 40px; margin-left:10%;">分词</div>
					<div style="position:relative; font-size:12px; margin-left:10%;">已经使用100次，剩余400次。</div>
					<div id="chart_container" style="width: 80%; height: 60%; margin: 0 auto"></div>
				</div>

			</div>
		
	</div>
	<div class="section" style="background-image: url(images/main/background_d.png)">
		
			<div class="console_left">
				<div class="container-fluid">

					<div class="row-fluid">
						<div class="span12">
							<ul>
								<br>
								<li class="header_list">
									<img src="images/main/user_icon.png" style="height: 20px; margin-top: -2px;" /><a href="#page1">&nbsp;&nbsp;用户信息</a>
								</li>

								<br>
								<li class="header_list">
									<img src="images/main/user_icon.png" style="height: 20px; margin-top: -2px;" />&nbsp;&nbsp;功能使用
								</li>
								<li class="list_content">

									<a href="#page1">分词</a>
								</li>
								<li class="list_content">
									<a href="#page2">词性标注</a>
								</li>
								
								<li class="list_content">
									<a href="#">帮助</a>
								</li>

							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="console_right">
				<div class="console_right_top">
					
					<div class="my_divider"></div>
					<div style="position:relative; font-size:16px; line-height: 40px; margin-left:10%;">词性标注</div>
					<div style="position:relative; font-size:12px; margin-left:10%;">已经使用200次，剩余100次。</div>
					<div id="chart_container2" style="width: 80%; height: 60%; margin: 0 auto"></div>
				</div>

				<div class="console_right_bottom">
					<div class="my_divider"></div>
					<div style="position:relative; font-size:16px; line-height: 40px; margin-left:10%;">XXX</div>
					<div style="position:relative; font-size:12px; margin-left:10%;">已经使用100次，剩余400次。</div>
					<div id="chart_container3" style="width: 80%; height: 60%; margin: 0 auto"></div>
				</div>

			</div>
		
	</div>
	<div class="section" style="background-image: url(images/main/background_d.png)">
		
			<div class="console_left">
				<div class="container-fluid">

					<div class="row-fluid">
						<div class="span12">
							<ul>
								<br>
								<li class="header_list">
									<img src="images/main/user_icon.png" style="height: 20px; margin-top: -2px;" /><a href="#">&nbsp;&nbsp;用户信息</a>
								</li>

								<br>
								<li class="header_list">
									<img src="images/main/user_icon.png" style="height: 20px; margin-top: -2px;" />&nbsp;&nbsp;功能使用
								</li>
								<li class="list_content">

									<a href="#">分词</a>
								</li>
								<li class="list_content">
									<a href="#">词性标注</a>
								</li>
								
								<li class="list_content">
									<a href="#">帮助</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="console_right">
				<div class="console_right_top">
					<div style="position: relative; margin-left: 100px; padding-top: 30px; font-size: 20px; color: black;"><img src="images/main/user_icon.png" style="height: 25px; margin-top: -9px;" />&nbsp;&nbsp;用户中心</div>
					<div class="my_divider"></div>
					<div class="console_right_top_left">
						<ul style="margin-left:25%; font-size:14px; line-height: 40px;">
							<li>用户名:</li>
							<li>邮箱:</li>
							<li>注册时间:</li>
							<li>用户等级:</li>
							<li>AppKey:</li>
						</ul>
					</div>
					<div class="console_right_top_right">
					</div>
				</div>

				<div class="console_right_bottom">
					<div class="my_divider"></div>
					<div style="position:relative; font-size:16px; line-height: 40px; margin-left:10%;">分词</div>
					<div style="position:relative; font-size:12px; margin-left:10%;">已经使用100次，剩余400次。</div>
				</div>
			</div>
		</div>
	
</div>

</body>
</html>