<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Text++ - 首页</title>
    <meta name="Copyright" content="TextPlusPlus" />
    <meta name="Keywords" content="Text++" />
    <meta name="Description" content="中文语义分析平台" />
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/footer.css">
    <script type="text/javascript" src="js/respond.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
    <div class="header_topbar">
        <div class="header_content ui_maxw">
            <a href="index" class="logo" title="Text++">Text++</a>
                <div class="header_menu">
                    <ul>
                        <li class="current"><a href="#" title="首页"><img style = "float:left; margin-top:22px;s" src="images/main/home_choose.png" height="30%"/>&nbsp;&nbsp;首页</a></li>
                        <li><a href="semantic" title="产品演示"><img style = "float:left; margin-top:22px;s" src="images/main/product.png" height="30%"/>&nbsp;&nbsp;产品演示</a></li>
                        <li><a href="app_apply" title="开发者文档"><img style = "float:left; margin-top:22px;s" src="images/main/document.png" height="30%"/>&nbsp;&nbsp;开发者文档</a></li>
                        <li><a href="#" title="关于"><img style = "float:left; margin-top:22px;s" src="images/main/about.png" height="30%"/>&nbsp;&nbsp;关于</a></li>
                    </ul>
                </div>
                <div class="header_sign">
                    <div class="sign_wrap" id="sign_state">
                        
                    </div>
                </div>
        </div>
        <div class="header_topbar_bg"></div>
    </div>

    <div class="header">
        <div class="header_banner">
            <div class="header_banner_content ui_maxw">
                <h1><img src="images/main/logo.png"></h1>
                    <div class="article_col_head active">
                        <p><font color="white" size="5pt">Lorem ipsum dolor sit amet</font></p>
                        <p><font color="white" size="3pt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</font></p>
                    </div>
                <div class="header_banner_btn"> <a href="semantic
                " class="mod_bigbtn mod_btn_white" title="产品演示">产品演示</a> <a href="semantic" class="mod_bigbtn mod_btn_white" title="开始使用" target="_blank">开始使用</a> </div>
            </div>
        </div>
        <div class="header_bg"></div>
    </div>

    <div class="section_container active">
        <div class="section_bg">
            <div class="title">
                <h2 class="mod_h2">核心优势</h2>
            </div>
            <div class="section_list ui_maxw">
                <ul>
                    <li class="section_list_item section_item_1">
                        <div class="pto"> <img src="images/main/advavtage_a.png" height="100%" alt="厚实的积累"> </div>
                        <h3 class="tit"><font color="yellow">厚实的积累</font></h3>
                        <p class="info"> 十年专注中文语义分析技术， 数十个腾讯产品的成功应用经验、千亿级互联网语料数据, 为精准和深度的中文语义分析提供坚实基础。 </p>
                    </li>
                    <li class="section_list_item section_item_2">
                        <div class="pto"> <img src="images/main/advavtage_b.png" height="100%" alt="厚实的积累"> </div>
                        <h3 class="tit"><font color="green">全面的API</font></h3>
                        <p class="info"> 提供智能分词、实体识别、情感分析、转码抽取、文本聚类等语义API，一站式解决用户的中文语义分析需求。 </p>
                    </li>
                    <li class="section_list_item section_item_3">
                        <div class="pto"> <img src="images/main/advavtage_c.png" height="100%" alt="厚实的积累"> </div>
                        <h3 class="tit"><font color="blue">良好的口碑</font></h3>
                        <p class="info"> 已成功为微信、QQ、应用宝、广点通等数十个产品每天提供100亿级的API调用服务，优质的效果和稳定的服务打造了良好的口碑。 </p>
                    </li>
                    <li class="section_list_item section_item_4">
                        <div class="pto pto_1"> <img src="images/main/advavtage_d.png" height="100%" alt="厚实的积累"> </div>
                        <h3 class="tit"><font color="purple">领先的技术</font></h3>
                        <p class="info"> 并行计算平台上实现强大的机器学习和文本挖掘引擎, 结合独特的语义分析技术，助力中文语义分析准确度达到业界领先水平。 </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
	<div class="copyright ui_maxw">
		<p class="txt">Copyright &copy; 1998 - 2015 Tencent. All Rights Reserved.</p>
		<p class="txt"><a href="help.html?topic=agreement">开发者协议</a> | <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=Enx_Yk16d35id2BSY2M8cX1-" target="_blank">投诉建议</a></p>
		
		<div class="foot_link"> 
			<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=Enx_Yk16d35id2BSY2M8cX1-" target="_blank" class="ico_foot_mail"></a> 
			<a class="ico_foot_wechat">
			<div class="link_show"> <b class="bar"></b>
				<p class="tit">扫码关注“腾讯文智”</p>
				<div class="photo"> <img src="images/common/wechat_nlp_new.jpg" alt="扫码关注“腾讯云搜”"> </div>
			</div>
			</a> 
			<a target="_blank" class="ico_foot_qq"></a>
		</div>
	</div>
	<div class="scrollUpf">
        <a style="" title="返回顶部" href="javascript:pageScroll();" id="scrollUp"></a>
    </div>
</div>

</body>
</html>