<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Text++ - 首页</title>
    <meta name="Copyright" content="TextPlusPlus" />
    <meta name="Keywords" content="Text++" />
    <meta name="Description" content="自然语言处理平台" />
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/footer.css">
    <script type="text/javascript" src="js/respond.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
    <div class="header_topbar">
        <div class="header_content ui_maxw">
            <a href="index" class="logo" title="Text++">Text++</a>
                <div class="header_menu">
                    <ul>
                        <li class="current"><a href="index" title="首页"><img style = "float:left; margin-top:22px;s" src="images/main/home_choose.png" height="30%"/>&nbsp;&nbsp;首页</a></li>
                        <li><a href="semantic" title="产品演示"><img style = "float:left; margin-top:22px;s" src="images/main/product.png" height="30%"/>&nbsp;&nbsp;产品演示</a></li>
                        <li><a href="app_apply" title="开发者文档"><img style = "float:left; margin-top:22px;s" src="images/main/document.png" height="30%"/>&nbsp;&nbsp;开发者文档</a></li>
                        <li><a href="#" title="关于"><img style = "float:left; margin-top:22px;s" src="images/main/about.png" height="30%"/>&nbsp;&nbsp;关于</a></li>
                    </ul>
                </div>
                <div class="header_sign">
                    <div class="sign_wrap" id="sign_state">
                        
                    </div>
                </div>
        </div>
        <div class="header_topbar_bg"></div>
    </div>

    <div class="header">
        <div class="header_banner">
            <div class="header_banner_content ui_maxw">
                <h1><img src="images/main/logo.png"></h1>
                    <div class="article_col_head active">
                        <p><font color="white" size="5pt">高效的自然语言处理平台</font></p>
                        <p align="left"><font color="white" size="3pt" >Text++&nbsp;是由<strong>清华大学自然语言处理与社会人文计算实验室</strong>研制推出的一套高校的自然语言处理平台，具有中文分词、词性标注、文本分类、情感分析等功能。得益于清华大学实验室厚实的专业积累，Text++&nbsp;在自然语言处理方面显示出独有的专业性、准确性和高效性。</font></p>
                    </div>
                <div class="header_banner_btn"> <a href="semantic
                " class="mod_bigbtn mod_btn_white" title="产品演示">产品演示</a> <a href="semantic" class="mod_bigbtn mod_btn_white" title="开始使用" target="_blank">开始使用</a> </div>
            </div>
        </div>
        <div class="header_bg"></div>
    </div>

    <div class="section_container active">
        <div class="section_bg">
            <div class="title">
                <h2 class="mod_h2">核心优势</h2>
            </div>
            <div class="section_list ui_maxw">
                <ul>
                    <li class="section_list_item section_item_1">
                        <div class="pto"> <img src="images/main/advavtage_a.png" height="100%" alt="厚实的积累"> </div>
                        <h3 class="tit"><div style="color: rgb(229,241,101);">厚实的积累</div></h3>
                        <p class="info"> 实验室专注于自然语言处理技术， 清华大学强大的科研背景为Text++提供坚实基础。 </p>
                    </li>
                    <li class="section_list_item section_item_2">
                        <div class="pto"> <img src="images/main/advavtage_b.png" height="100%" alt="全面的API"> </div>
                        <h3 class="tit"><div style="color: rgb(43,125,85);">全面的API</div></h3>
                        <p class="info"> 提供分词、词性标注、情感分析、文本分类等语义API，一站式解决用户的中文语义分析需求。 </pAPI>
                    </li>
                    <li class="section_list_item section_item_3">
                        <div class="pto"> <img src="images/main/advavtage_c.png" height="100%" alt="精准的分析"> </div>
                        <h3 class="tit"><div style="color: rgb(41,47,200);">精准的分析</div></h3>
                        <p class="info"> 利用我们集成的目前世界上规模最大的人工分词和词性标注中文语料库（约含5800万字）训练而成，能力强大，并且准确率高。 </p>
                    </li>
                    <li class="section_list_item section_item_4">
                        <div class="pto pto_1"> <img src="images/main/advavtage_d.png" height="100%" alt="实时的支持"> </div>
                        <h3 class="tit"><div style="color: rgb(61,63,144);">实时的支持</div></h3>
                        <p class="info"> 实验室的科研人员及时获取客户所需要的信息并提供给客户最良好的解决方案。 </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="footer">
	<div class="copyright ui_maxw">
		<p class="txt">Copyright &copy; 1998 - 2015 Tsinghua University. All Rights Reserved.</p>
	</div>
	<div class="scrollUpf">
        <a style="" title="返回顶部" href="javascript:pageScroll();" id="scrollUp"></a>
    </div>
</div>

</body>
</html>