<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lt9">
  <![endif]-->
  <html lang="zh-cn">

<head>
    <script type="text/javascript">var _speedMark = new Date();</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Text++ - 注册</title>
    <meta name="Copyright" content="Tencent" />
    <link href="images/common/favicon.ico" type="image/ico" rel="shortcut icon" />
    <meta name="Keywords" content="Text++" />
    <meta name="Description" content="中文语义分析平台" />
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/footer.css">
    <script type="text/javascript" src="js/respond.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <script src="css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/md5.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}

function show(data) {
    if(data == "username"){
        if($("#username").val().length < 5)
            document.getElementById("name_warning").style.display = "inline";
        else 
            document.getElementById("name_warning").style.display = "none";
    }
    else if(data == "password"){
        if($("#password").val().length < 5)
            document.getElementById("pswrd_warning").style.display = "inline";
        else
            document.getElementById("pswrd_warning").style.display = "none";
    }
    else if(data == 'email'){
        var email = validateEmail($("#email").val().toLowerCase())
        if(! email)
            document.getElementById("email_warning").style.display = "inline";
        else
            document.getElementById("email_warning").style.display = "none";
    }
    else if(data == "password2") {
        if($("#password").val() == $("#password2").val())
            document.getElementById("pswrd_double_warning").style.display = "none";
        else
            document.getElementById("pswrd_double_warning").style.display = "inline";
    }
}

$(document).ready(function(){
    $("#register").click(function(){
        var pas = hex_md5($("#password").val());
        $.post("api/register",
        {
            id:$("#username").val(),
            password:pas,
            email:$("#email").val(),
        },
        function(data){
            var obj = eval("(" + data + ")");
            if(obj.code == 100) {
              window.open("login","_self");
            }
            else {
              alert(obj.message);
            }
        });
    });
});

</script>
</head>

<body>
    <div class="header_topbar">
      <div class="header_content ui_maxw">
        <a href="index" class="logo" title="Text++">Text++</a>
        <div class="header_menu">
          <ul>
            <li>
              <a href="index" title="首页">
                <img style = "float:left; margin-top:22px;s" src="images/main/home_choose.png" height="30%"/>
                &nbsp;&nbsp;首页
              </a>
            </li>
            <li>
              <a href="semantic" title="产品演示">
                <img style = "float:left; margin-top:22px;s" src="images/main/product.png" height="30%"/>
                &nbsp;&nbsp;产品演示
              </a>
            </li>
            <li>
              <a href="app_apply" title="开发者文档">
                <img style = "float:left; margin-top:22px;s" src="images/main/document.png" height="30%"/>
                &nbsp;&nbsp;开发者文档
              </a>
            </li>
            <li>
              <a href="#" title="关于">
                <img style = "float:left; margin-top:22px;s" src="images/main/about.png" height="30%"/>
                &nbsp;&nbsp;关于
              </a>
            </li>
          </ul>
        </div>
        <div class="header_sign">
          <div class="sign_wrap" id="sign_state">
            
          </div>
        </div>
      </div>
      <div class="header_topbar_bg"></div>
    </div>

    <div class="header">
      <div class="header_banner">
        <div class="header_banner_content ui_maxw">
          <h1>
            <img src="images/main/logo.png"></h1>

          <div class="article_col_head active">
            <p> <font color="white" size="4pt">欢迎注册Text++，我们会为您提供更好的服务。</font>
            </p>
            <br>
            <br>
            <br>
            <div style="width: 40%; background: url(images/main/transparent.png); background-position:center; margin:0 auto;" >
              <br>
              <br>
              <div style="width: 75%; position: relative; margin-left: 9%; text-align: center; ">
                <!-- <form id="form-register" v-on="submit: submit" class="bs-example bs-example-form" role="form" >
                -->
                <div class="input-group">
                  <span class="input-group-addon">用户名</span>
                  <input id="username" v-model="name" type="text" class="form-control" onblur="show('username')"></div>
                <span class="label label-warning" style="display:none;font-size:15px" id="name_warning">账号长度不得小于5个字符</span>
                <br>
                <div class="input-group">
                  <span class="input-group-addon">密码</span>
                  <input id="password" v-model="password1" type="password" class="form-control" onblur="show('password')"></div>
                <span class="label label-warning" style="display:none;font-size:15px" id="pswrd_warning">密码长度不得小于5个字符</span>
                <br>
                <div class="input-group">
                  <span class="input-group-addon">确认密码</span>
                  <input id="password2" v-model="password2" type="password" class="form-control" onblur="show('password2')" ></div>
                <span class="label label-warning" style="display:none;font-size:15px" id="pswrd_double_warning">两次输入的密码不一致</span>
                <br>
                <div class="input-group">
                  <span class="input-group-addon">邮箱</span>
                  <input id="email" v-model="email" type="text" class="form-control" onblur="show('email')"></div>
                <span class="label label-warning" style="display:none;font-size:15px" id="email_warning" >邮箱格式错误</span>
                <br>
                <div style="width:100%; position:relative; margin-left:5%; text-align:center;">
                  <button id="register" type="submit" class="button button-action button-medium">立即注册</a>

                </div>
              </form>
              <br></div>
            <br>
            <br></div>
        </div>
      </div>
    </div>
    <div class="header_bg"></div>
  </div>

<div class="footer">
  <div class="copyright ui_maxw">
    <p class="txt">Copyright &copy; 1998 - 2015 Tsinghua University. All Rights Reserved.</p>
  </div>
  <div class="scrollUpf">
        <a style="" title="返回顶部" href="javascript:pageScroll();" id="scrollUp"></a>
    </div>
</div>

</body>
</html>